<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042127817804-oaa9qbd6gnhqmplrdk83em2ihhjnbf9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042127817804-oaa9qbd6gnhqmplrdk83em2ihhjnbf9n</string>
	<key>API_KEY</key>
	<string>AIzaSyANVhUPbQCVirTOTp4qdxaTint_T-YPNG0</string>
	<key>GCM_SENDER_ID</key>
	<string>1042127817804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-43bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-43bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042127817804:ios:523d2073bc6733bbbfb8e9</string>
</dict>
</plist>